
$rusticBrown: #ad6d57;
$lightGray: #fafafa;
.home {
    background-image: url("https://static1.squarespace.com/static/56745fe625981d39eaa0caa3/576ae53df7e0ab9ac46e2ca9/57866ece5016e1bd486c29ce/1468428012188/wooden_planks_vertical_9664_2560x1600.jpg?format=2500w");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Lato', sans-serif;
    color: $lightGray;


    .brewery-list {
        max-width: 500px;
        overflow-y: scroll;
        height: 100vh;

        .brewery-title {
            padding: 25px 35px;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
        }

        ul {
            line-height: 1.5;
            margin: 0;
            transition: all .3s ease-in-out;
            padding-bottom: 30px;
            &:hover {
                cursor: pointer;
                box-shadow: 13px 36px 86px -5px rgba(10,4,4,0.21);
                background: $rusticBrown;

            }
            .b-name {
                line-height: 1.2;
                font-weight: 700;
                font-size: 25px;
            }
            .brewery-type {
                font-weight: 600;
                text-transform:capitalize;
            }

            li {
                list-style: none;
            }
            .btn {
                padding-top: 10px;
            }
            a {
                display: inline-block;
                text-decoration: none;
                color: $lightGray;
                border: 2px solid $lightGray;
                border-radius: 10px;
                padding: 4px;
                transition: all .3s ease-in-out;
                font-size: 15px;
                text-align: center;

                &:hover {
                  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                  transform: translate3d(0, 0, 0);
                  backface-visibility: hidden;
                  perspective: 1000px;
                  background-color: $lightGray;
                  color: #000;
                }

                @keyframes shake {
                  10%, 90% {
                    transform: translate3d(-1px, 0, 0);
                  }

                  20%, 80% {
                    transform: translate3d(2px, 0, 0);
                  }

                  30%, 50%, 70% {
                    transform: translate3d(-4px, 0, 0);
                  }

                  40%, 60% {
                    transform: translate3d(4px, 0, 0);
                  }
                }
            }
        }
    }

    .brewery-display {

        h1 {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 700;
        }
        p {
            font-size:20px;
            font-weight:600;
        }
        .b-map {
            height: 400px;
            width: 80%;
        }
        .image {
            display: inline-block;
            position: relative;
            left: 150px;
            height: 200px;
            width: 200px;
        }
    }
}


.brewery-list::-webkit-scrollbar {
width: 25px;
}
.brewery-list::-webkit-scrollbar * {
background:transparent; // manage scrollbar background color here
}
.brewery-list::-webkit-scrollbar-thumb {
background:rgba(8, 19, 21, 0.4) !important; // manage scrollbar thumb background color here
}




//  for command to run sass in terminal: sass --watch brewery-frontend/public/main.scss:brewery-frontend/public/main.css
